{% extends 'basic.html' %}

{% block head_title %} File Upload {% endblock %}

{% block CSS %}
{% endblock %}

{% block body %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-success ml-0" role="alert">
          {% if message.tags %} {% endif %}{{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="mb-3" style="width:350px">
        <h3 class="mt-4 mb-4">Upload Data </h3>
        
        <form id="example-form1" action="/csv-uploader/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
            <input class="form-control" type="file" id="customFile" name="csv" required accept=".csv" size="60">
            </div>
            <input type="submit" class="btn btn-primary btn-sm" value="Start Upload">
        </form>
    </div>
</div>


{% endblock %}